@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --first-background: rgb(37, 50, 54);
    --second-background: rgb(110, 148, 105);
    --third-background:rgb(43, 60, 65);
    --element-color:rgb(168, 208, 132);
    --border-color:rgb(12, 15, 0);
    --board-color:rgb(192, 211, 127);
  }

html ,body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
body{
    background-color: var(--second-background);
}
/********************* All Header Elements Style *********************/
header{
    /* Header Style */
    width: 100%;
    height: 60px;
    margin: 0px 0px 10px 0px;
    background-color: rgba(47, 69, 75, 0.24);;
    display: flex;
    border-bottom: solid 1px var(--border-color);

}
header .logo {
    /* Logo container style */
    flex: 1;
    display: flex;
    justify-content: center;
    border: solid 2px rgb(0, 43, 8);
    background-color: var(--third-background);

}
header .logo img{
    /* Logo image style */
    height: 100%;
    width: 100px;
}

/*********************************************************************/
/********************* All Main Elements Style *********************/
main{
    /* Header Style */ 
    width: 100%;
    height: 100%;
    display: flex;  
    align-items: center;
    background-color: var(--second-background);   

}
main .player-container {
    height: 95%;
    width: 95%;
    border-radius: 40px;
    border: solid 3px var(--border-color); 
    margin: 5px;
    flex: 1;
    display: flex; 
    flex-direction: column;
    background-color: var(--third-background);
}
main .player-container div{
    height: 95%;
}

main .player-container div{
    margin: 5px;
}

main .player-container div{
    display: flex;
    justify-content: center;
    align-items: center;
}
/********************** Player Number Style ************************/
main .player-container .player-title{
    margin:0px ;
    padding: 0px;
    width: 100%;
    color:var(--element-color) ;
    border-bottom: 2px solid var(--element-color);
    font-size: 2.5vw;
}
main .player-container .player-title h2{
    margin: 0px;
    padding: 0px;
}
main .player-container .Player-Number-container .Player-Number{
    font-family: 'Lato', sans-serif;
    width: 50%;
    height: 90%;
    color: var(--element-color);
    font-size: 10vw;
    margin: 0px;
}
/*******************************************************************/
/********************** Player Score Style ************************/
main .player-container .Player-Score-container{
    font-size: 1.2vw;
    flex-direction: column;
    color: aliceblue;
    margin: 0px;
}
main .player-container .Player-Score-container h2{
    color: var(--element-color);
    margin: 10px ;
}
/*******************************************************************/
/********************** Player Timer Style ************************/
main .player-container .Player-Timer-container .Timer{
    padding: 5px;
    border-radius: 20px;
    width: 90%;
    height: 40%;
    background-color: var(--element-color);
    color: rgb(0, 17, 5);
}
/*******************************************************************/
/************************** Game Style *****************************/
main .game-container  {
    margin: 0px;
    background-color:var(--second-background);
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .game-container table,tr,td {
    border: 2px solid var(--border-color);
}
main .game-container table {
    display: flex;
    border: 0px solid var(--border-color);
    border-radius: 10px;
}
main .game-container table tr td {
   background-color: var(--third-background);
   border-radius: 10px;
   height: 210px;
   width: 240px;
   cursor: pointer;
   transition: 0.5s;
}
main .game-container table tr td:hover {
    background-color: var(--element-color);
 }
main .game-container table tr td:hover > h1{
    color: var(--first-background);
 }
main .game-container table tr td h1{
    border-radius: 5px;
    margin: 0px;
    text-align: center;
    font-size: 180px;
    color: var(--element-color);
    font-family: 'Lato', sans-serif;
}
/*******************************************************************/
/*##########################################################################################*/
/*##################################### Game Settings ######################################*/
.game-settings-container{
    background-color: rgba(0, 0, 2, 0.635);
    position:fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.game-settings-container div{
    cursor: context-menu;
    background-color:var(--second-background);
    border: 2px solid var(--third-background);
    height: 300px;
    width: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.game-settings-container table{
   margin: 5px;
}
.game-settings-container table tr td{
    height: 60px;
    border: solid 0px ;
    font-size: 20px;
    text-align: center;
}
.game-settings-container table tr td h3{
    padding: 0px;
    text-align: left;
}
.game-settings-container table tr td input{
    border-radius: 5px;
    font-size: 15px;
    width: 70%;
}
.game-settings-container table tr td button{
    cursor: pointer;
    transition: 0.5s;
    width: 80%;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: solid 2px var(--third-background);
    background-color: rgba(255, 222, 173, 0);
}
.game-settings-container table tr td button:hover{
    background-color:var(--element-color);
}
/*##########################################################################################*/
 
@media only screen and (max-width: 1000px) {
    /*###################################### Header Style ######################################*/
    main{
        /* Header Style */
        flex-direction: column; 
        width: 100%;
        height: 90vh ;
        margin: 10px 0px;
       
    }
    main .player-container{
        flex-direction:row;
        justify-content: space-around;
    }
    /*##########################################################################################*/
    /*################################# Player Container Style #################################*/
    .top{
        transform: rotate(180deg);
    }
    main .player-container{
        height: 10vh;
    }
    main .player-container .player-title{
        width: auto;
        border-bottom: 0px;
    }
    /********************** Player Score Style **********************/
    main .player-container .Player-Score-container h2{
        margin: 2px ;
        font-size: 2.5vh;
    }
    /*****************************************************************/
    /********************** Player Number Style **********************/
    main .player-container .Player-Number-container .Player-Number{
        height: 70%;
    }
    /*******************************************************************/
    /************************** Game Style *****************************/
    main .game-container table tr td {
        height: 20vh;
        width: 30vw;
     }
    /*******************************************************************/
    /*##########################################################################################*/
    /*##################################### Game Settings Style ######################################*/
    .game-settings-container div{
        height: 250px;
        width: 350px;
    }
    .game-settings-container table tr td{
        font-size: 15px;
    }
    .game-settings-container table tr td input{
        font-size: 10px;
        width: 60%;
    }
    .game-settings-container table tr td button{
        width: 70%;
        padding: 5px;
        font-size: 15px;
    }
    main .game-container table tr td h1{
        font-size: 7em;
     }
    /*##########################################################################################*/ 
  }

.hidden{
    display: none;
}  