@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

html ,body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

/********************* All Header Elements Style *********************/
header{
    /* Header Style */
    width: 100%;
    height: 50px;
    background-color: aliceblue;
    display: flex;

}
header .logo {
    /* Logo container style */
    
    background-color: red;
    flex: 1;
    display: flex;
    justify-content: center;

}
header .logo img{
    /* Logo image style */
    background-color: yellow;
    height: 100%;
    width: 100px;
    
     
}
header .parameter{
    /* icon parameter style */  
    position: absolute;
    height: 50px;
    right: 0;
    display: flex;
    justify-content: flex-end;
    background-color: blue; 
     
}
header .parameter img{
    /* icon parameter style */
    background-color: yellow;
    height: 100%;
    width: 100px;
     
}
/*********************************************************************/
/********************* All Main Elements Style *********************/
main{
    /* Header Style */ 
    display: flex; 
    background-color: bisque;   

}
main .player-container div{
    height: 100%;
    width: 95%;
}
main .player-container{
    margin: 0px;
    background-color: rgb(255, 196, 247);
    flex: 1;
    display: flex; 
    flex-direction: column;
}
main .player-container div{
    background-color: brown;
    margin: 5px;
}

main .player-container div{
    display: flex;
    justify-content: center;
    align-items: center;
}
/********************** Player Number Style ************************/
main .player-container .Player-Number-container .Player-Number{
    border-radius: 50%;
    width: 50%;
    height: 90%;
    background-color: yellow;
}
/*******************************************************************/
/********************** Player Score Style ************************/
main .player-container .Player-Score-container{
    flex-direction: column;
    color: aliceblue;
}
main .player-container .Player-Score-container h2{
    margin: 10px ;
}
/*******************************************************************/
/********************** Player Timer Style ************************/
main .player-container .Player-Timer-container .Timer{
    width: 90%;
    height: 40%;
    background-color: aqua;
}
/*******************************************************************/
/************************** Game Style *****************************/

main .game-container  {
    margin: 0px;
    background-color: rgb(220, 255, 196);
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .game-container table,tr,td {
    border: 1px solid;
}
main .game-container table {
    display: flex;
}
main .game-container table tr td {
   background-color: blueviolet;
   height: 220px;
   width: 250px;
}
main .game-container table tr td h1{
    margin: 0px;
    text-align: center;
    font-size: 180px;
    font-family: 'Lato', sans-serif;
 }
/*******************************************************************/
/*##########################################################################################*/
/*##################################### Game Settings ######################################*/
.game-settings-container{
    background-color: rgba(0, 0, 2, 0.635);
    position:fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.game-settings-container div{
    cursor: context-menu;
    background-color: rgb(2, 184, 142);
    height: 300px;
    width: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.game-settings-container table{
   margin: 5px;
}
.game-settings-container table tr td{
    height: 60px;
    border: solid 0px ;
    font-size: 20px;
    text-align: center;
}
.game-settings-container table tr td h3{
    padding: 0px;
    text-align: left;
}
.game-settings-container table tr td input{
    font-size: 15px;
    width: 70%;
}
.game-settings-container table tr td button{
    cursor: pointer;
    transition: 0.5s;
    width: 80%;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: solid 1px;
    background-color: rgba(255, 222, 173, 0);
}
.game-settings-container table tr td button:hover{
    background-color: blanchedalmond;
}
/*##########################################################################################*/
 
@media only screen and (max-width: 1000px) {
    /*###################################### Header Style ######################################*/
    main{
        /* Header Style */
        flex-direction: column; 
        width: 100%;
        height: 90vh ;
        margin: 10px 0px;
       
    }
    main .player-container{
        flex-direction:row;
    }
    /*##########################################################################################*/
    /*################################# Player Container Style #################################*/
    .top{
        transform: rotate(180deg);
    }
    main .player-container{
        height: 10vh;
    }
    /********************** Player Score Style **********************/
    main .player-container .Player-Score-container h2{
        margin: 2px ;
        font-size: 2.5vh;
    }
    /*****************************************************************/
    /********************** Player Number Style **********************/
    main .player-container .Player-Number-container .Player-Number{
        height: 70%;
    }
    /*******************************************************************/
    /************************** Game Style *****************************/
    main .game-container table tr td {
        height: 20vh;
        width: 30vw;
     }
    /*******************************************************************/
    /*##########################################################################################*/
    /*##################################### Game Settings Style ######################################*/
    .game-settings-container div{
        height: 250px;
        width: 350px;
    }
    .game-settings-container table tr td{
        font-size: 15px;
    }
    .game-settings-container table tr td input{
        font-size: 10px;
        width: 60%;
    }
    .game-settings-container table tr td button{
        width: 70%;
        padding: 5px;
        font-size: 15px;
    }
    main .game-container table tr td h1{
        font-size: 7em;
     }
    /*##########################################################################################*/ 
  }

  